@CHARSET "EUC-KR";

body{
	margin: 0px;
}
.header{
	background: url('images/headerBg.gif') repeat-x;
	margin: 0px;
	position: relative;
	height : 170px;
	border-bottom: 1px solid #f1f1f1;;
	padding-bottom: 0px;
}
.header_top_menus{
	float: right;
	margin: 0px;
	text-align: right;
}
.header_top_menus>li{
	list-style: none;
	float : right;
	text-align: center;
	width: 100px;
	border-left: 1px solid #f1f1f1;
} 
.header_top_menus li:LAST-CHILD{
	border-left: none;	
}
.header_top_menus>li>a{
	text-decoration: none;
	color: #f1f1f1;
	font-size: 13px;
}

.header_box{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.header_log{
	padding-left : 380px;  
	padding-top: 24px;
	
}
.header_menu{
	border-top: 1px solid #f1f1f1;;
}
.header_menus{
	list-style: none;
	margin-top: 5px;
}
.header_menus>li{
	float: left;
	border-right: 1px solid #f1f1f1;
	width: 200px;
	text-align: center;
}
.header_menus>li>a{
	text-decoration: none;
	color: #0080ff;
	font-size: 20px;
	font-family: 'NanumGothic_b';
}


